@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@500&display=swap');

/*
font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
*/
.container {
  border: 1px solid #51180b;
}

.coffee-list {
   background-image: url("img/background.jpg");
   background-size: cover;

}
.coffee-item {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 15px 0;
  border-radius: calc(100px / 2);
  transition: background-color 300ms, transform 300ms;
  padding: 5px;
  
  /*transition: all 300ms;*/
}
.coffee-item img {
  height: 100px;
  background-color: white;
  border-radius: 50%;
}
body {
  background-color: #FFE4B5;
}
.coffee-item span {
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px ;
  font-size: 18px;
  font-weight: bold;

}
.coffee-item:hover {
  background-color: rgba(50, 50, 50, 0.7);
  transform: scale(1.025);
}
.coffee-oper {
  background-color: #e9c9aa;
  padding: 1rem;
}
.display {
  background-color: #dbfade;
  border: 1px solid darkgreen;
  box-sizing: border-box;
  padding: 0.5rem;
  font-family:'Roboto Slab', serif;
}
.cup-container {
  margin-top: 2rem;
  
}
.cup {
  width: 100%;
  display: none;
}
.atm {
  width: 100%;

}
.change-container {
  min-height: 5rem;
  background-color: #fdf0ed;
  border: 2px solid #51180b;
  border-radius: 0.5rem;
}